Repository seanebones-lang/Spot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint --fix --max-warnings=0

fix: remove pixelRatio from Canvas gl prop (use dpr only)
  components/AudiophileVisualizer.tsx
Due: eslint --fix

fix: export VisualizerType from AudiophileVisualizer not AudioVisualizer
  components/index.ts
Due: eslint --fix

fix: comprehensive web/mobile refactor and deployment fixes
  .github/workflows/cto-ci-cd-argocd.yml
  .github/workflows/enterprise-ci.yml
  .nx/workspace-data/file-map.json
  .nx/workspace-data/lockfile.hash
  .nx/workspace-data/parsed-lock-file.json
  .nx/workspace-data/project-graph.json
  .nx/workspace-data/source-maps.json
  app/layout.tsx
  components/Player.tsx
  components/Sidebar.tsx
  lib/db.ts
  next.config.js
  package.json
  playwright-report/index.html
  railway.toml
  test-results.json
  test-results/.last-run.json
  vercel.json
Due: eslint --fix, eslint --fix --max-warnings=0

fix: PrismaClient runtime-only initialization
  lib/db.ts
Due: eslint --fix

fix: simplify PrismaClient to standard singleton
  .github/workflows/cto-ci-cd-argocd.yml
  .github/workflows/enterprise-ci.yml
  .nx/workspace-data/file-map.json
  .nx/workspace-data/lockfile.hash
  .nx/workspace-data/parsed-lock-file.json
  .nx/workspace-data/project-graph.json
  .nx/workspace-data/source-maps.json
  lib/db.ts
  next.config.js
Due: eslint --fix, eslint --fix --max-warnings=0

fix: complete orchestration - Prisma generate + ESLint ignore + DB singleton
  lib/db.ts
  next.config.js
  package.json
Due: eslint --fix, eslint --fix --max-warnings=0

fix: PrismaClient lazy Proxy pattern for build-time safety
  lib/db.ts
Due: eslint --fix

fix: add postinstall script to ensure Prisma generates
  package.json
Due: eslint --fix --max-warnings=0

fix: complete orchestration - lintstaged, Prisma binary engine, db proxy
  lib/db.ts
  next.config.js
Due: eslint --fix

fix: configure Prisma binary engine in schema
  next.config.js
  prisma/schema.prisma
Due: eslint --fix

fix: implement lazy Proxy pattern for Prisma client
  lib/db.ts
Due: eslint --fix

feat: implement comprehensive security framework - Phase 1 optimizations
  .github/workflows/security.yml
  lib/csp.ts
  middleware.ts
  middleware/audit.ts
Due: eslint --fix, eslint --fix --max-warnings=0

docs: comprehensive security roadmap for Phase 1-4 compliance
  SECURITY_ROADMAP.md
Due: eslint --fix --max-warnings=0

feat: implement GDPR and CCPA compliance endpoints
  app/api/user/delete/route.ts
  app/api/user/export/route.ts
  app/api/user/privacy-preferences/route.ts
  middleware/rateLimit.ts
Due: eslint --fix

feat: implement Phase 2 performance optimization framework
  lib/queryOptimization.ts
  lib/reactOptimizations.ts
  next.config.js
  package.json
Due: eslint --fix, eslint --fix --max-warnings=0

feat: complete Phase 4 cost optimization and system perfection roadmap
  OPTIMIZATION_SUMMARY.md
  gitops/terraform/cost-optimization.tf
Due: eslint --fix --max-warnings=0

ux: enhance sidebar collapse and panel close buttons for better visibility
  components/RightSidebar.tsx
  components/Sidebar.tsx
Due: eslint --fix

ux: move daily check-in widget to header for better visibility
  components/Sidebar.tsx
  components/TopBar.tsx
Due: eslint --fix

ux: improve streak badge contrast with white gradient overlay
  components/TopBar.tsx
Due: eslint --fix

mobile: optimize player height and controls for mobile devices
  components/LayoutContent.tsx
  components/Player.tsx
  tailwind.config.js
Due: eslint --fix

mobile: add mobile navigation drawer for xs/sm screens
  components/LayoutContent.tsx
  components/MobileNavDrawer.tsx
Due: eslint --fix

mobile: hide non-essential icons in TopBar on mobile devices
  components/TopBar.tsx
Due: eslint --fix

mobile: make content padding responsive on mobile devices
  app/affirmations/page.tsx
  app/page.tsx
Due: eslint --fix

mobile: fix sidebar bottom positioning to match responsive player height
  components/RightSidebar.tsx
  components/Sidebar.tsx
Due: eslint --fix

ux: add colorful subdued photo backgrounds to all cards
  app/affirmations/page.tsx
  lib/cardBackgrounds.ts
Due: eslint --fix

fix: correct React.memo syntax errors in SearchDropdown and Sidebar
  PRODUCTION_TRANSFORMATION_COMPLETE.md
  components/SearchDropdown.tsx
  components/Sidebar.tsx
Due: eslint --fix, eslint --fix --max-warnings=0

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  eslint --fix --max-warnings=0: any of: *.{json,md,yml,yaml}
